:root {
    --primary: #FFFFFF;
    --dark: #512051;
    --light: #927B91;
    --rectangle: #F7F2F7;
    --buyer: #EE69A4;
    --font: #000000;
}

html {
    box-sizing: border-box;
    font-family: "League Spartan";
    color: var(--font);
    background-image: url(../images/bg-pattern-top-desktop.svg) , url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat , no-repeat;
    background-position: left top, right bottom;
}

body {
    margin: 90px 165px 75px 165px;
}

/* Wrapper Section */
.wrapper {
    display: grid;
    grid-gap: 4.4rem;
    grid-template-areas: 
     'header rating'
     'comments comments';
    align-items: center;
}

/* 10,000+ Header Section */
.header {
    /* background: yellow; */
    grid-area: header;
    width: 27.8125rem;
    height: 14.6875rem;
}

.header h2 {
    color: var(--dark);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -1.71429px;
    margin: 0;
}

.header p {
    color: var(--light);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: -0.5px;
}