:root {
    --primary: #FFFFFF;
    --dark: #512051;
    --light: #927B91;
    --rectangle: #F7F2F7;
    --buyer: #EE69A4;
    --font: #000000;
}

html {
    box-sizing: border-box;
    font-family: "League Spartan";
    color: var(--font);
    background-image: url(../images/bg-pattern-top-desktop.svg) , url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat , no-repeat;
    background-position: left top, right bottom;
}

body {
    margin: 90px 165px 75px 165px;
}

/* Wrapper Section */
.wrapper {
    display: grid;
    grid-gap: 4.4rem;
    grid-template-areas: 
     'header rating'
     'comments comments';
    align-items: center;
}

/* 10,000+ Header Section */
.header {
    /* background: yellow; */
    grid-area: header;
    width: 27.8125rem;
    height: 14.6875rem;
}

.header h2 {
    color: var(--dark);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -1.71429px;
    margin: 0;
}

.header p {
    color: var(--light);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: -0.5px;
}

/* Rating Section */
.rating {
    /* background: var(--dark); */
    grid-area: rating;
    height: 12.5rem;
    min-width: 33.75rem;
    display: grid;
    align-content: space-between;
    /* width: 33.75rem; */
}

/* Review Rating section */
.review-section {
    background: var(--rectangle);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 3.5rem;
    width: 27.8125rem;
    padding-left: 2rem;
    border-radius: 0.5rem;

}

.reviews {
    /* background: #512051; */
    margin-right: 5.625rem;
    min-width: 10.875rem;
    color: var(--dark);
    font-size: 0.8125rem;
}

/* Report Rating Section */
.report-section {
    background: var(--rectangle);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 3.5rem;
    width: 27.8125rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    margin-left: 6.7rem;
}

.report {
    /* background: #512051; */
    margin-right: 3.75rem;
    min-width: 12.75rem;
    color: var(--dark);
    font-size: 0.8125rem;
}

/* Best Tech Review Section */
.besttech-section {
    background: var(--rectangle);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 3.5rem;
    width: 27.8125rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    margin-left: 13.4rem;
}

.besttech {
    /* background: #512051; */
    margin-right: 5.3rem;
    min-width: 11.1rem;
    color: var(--dark);
    font-size: 0.8125rem;
}

/* Stars Spacing */
.stars img {
    margin-right: 0.528125rem;
}

/* Comments Section */
.comments {
    /* background: yellow; */
    grid-area: comments;
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 75.375rem;
    min-height: 16.625rem;
}

/* Title Section */
.title-1 {
    background: var(--dark);
    padding: 2.5rem 2rem;
    height: 10.625rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.t1-header h4 {
    /* background: yellow; */
    color: var(--primary);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 14.56px;
    width: 5rem;
}

.title-2 {
    background: var(--dark);
    padding: 2.5rem 2rem;
    height: 10.625rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.t2-header h4 {
    color: var(--primary);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 14.56px;
    width: 5rem;
}

.title-3 {
    background: var(--dark);
    padding: 2.5rem 2rem;
    max-height: 10.625rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.t3-header h4 {
    color: var(--primary);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 14.56px;
    width: 5rem;
}

.verified-buyer {
    color: var(--buyer);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 14.56px;
}

.title-text {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.232143px;
    margin-top: 0.8rem;
}
.t1-header {
    display: grid;
    grid-gap: 1.4375rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-right: 10rem;
    
}

.t2-header {
    display: grid;
    grid-gap: 1.4375rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-right: 10rem;
}

.t3-header {
    display: grid;
    grid-gap: 1.4375rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-right: 10rem;
}

.t1-header img{
    max-height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.t2-header img{
    max-height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.t3-header img{
    max-height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

/* Media Queries */
@media only screen and (max-width: 374px) {
    html {
        background-image: url(../images/bg-pattern-top-mobile.svg) , url(../images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat , no-repeat;
        background-position: left top, right bottom;
    }

    body {
        margin: 90px 65px 75px 50px;
    }
    /* Wrapper section */
    .wrapper {
        display: grid;
        grid-gap: 3rem;
        grid-template-areas: 
         'header'
         'rating'
         'comments';
        align-items: center;
    }
    
    /* Header section */
    .header {
        text-align: center;
    }

    /* Rating Section */
    .rating {
        width: 22.6875rem;
        height: 16.625rem;
    }

    .review-section {
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: center;
    }

    .reviews {
        margin-right: 0;
    }

    .report-section {
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: center;
        margin-left: 0;
    }

    .report {
        margin-right: 0;
    }

    .besttech-section {
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: center;
        margin-left: 0;
    }

    .besttech {
        margin-right: 0;
    }

    /* Stars Spacing */
    .stars {
        margin-right: 2.1rem;
    }

    .stars img {
        margin-top: 1rem;
        margin-right: 0;
    }

}